<div class="container-fluid" style="text-align: center">
  <div class="row">
    <div id="tunerlcd" class="lcd ui-corner-all" style="display: inline-block">
			<div style="position:absolute; left: 35px; top: 15px;">
				<span>PCR1000</span>
			</div>

      <div class="lcdButtonLeft" style="bottom: 35px;" ng-click="toggleMute()">
        <span class="glyphicon" ng-class="{'glyphicon-volume-off':muted,'glyphicon-volume-up':!muted}"></span>
      </div>

      <div class="lcdButtonLeft"
        ng-class="{powerOn:settings.power,powerOff:!settings.power}" ng-click="togglePower()">
        <span class="glyphicon glyphicon-off"></span>
      </div>
			<div class="display">
				<canvas id="lcdFrequency" width="400" height="64" class="buttonCursor"></canvas>
				<span>MHz</span>
			</div>
		</div>
  </div>

  <div class="row">
    <div class="col-md-9 col-sm-12" style="display:inline-block;float:none">
      <table class="table table-responsive table-condensed table-striped">
        <tr>
          <td></td>
          <th style="text-align: right">
            <label for="powerToggle">Power</label>
          </th>
          <td style="text-align: left">
            <toggle id="powerToggle" data-ng-model="power" ng-change="togglePower()" on="On" off="Off" onstyle="btn-success" offstyle="btn-danger"></toggle>
          </td>
          <td></td>
        </tr>
        <tr>
          <th>
            <label for="modeOpt">Mode</label>
          </th>
          <td>
              <select class="form-control" id="modeOpt" ng-disabled="!settings.power" ng-model="settings.mode" ng-options="opt for opt in modeOptions" ng-change="modeChange()" />
          </td>

          <th>
            <label for="afgainSlider">AF Gain</label>
          </th>
          <td>
            <slider id="afgainSlider" ng-disabled="!settings.power" ng-model="settings.afGain" on-stop-slide="afGainChange()" min="0" step="1" max="100" value="50"></slider>
          </td>
        </tr>

        <tr>
          <th>
            <label for="filterOpt">Filter</label>
          </th>
          <td>
              <select class="form-control" id="filterOpt" ng-disabled="!settings.power" ng-model="settings.filter" ng-options="opt for opt in filterOptions" ng-change="filterChange()" />
          </td>

          <th>
            <label for="squelchSlider">Squelch</label>
          </th>
          <td>
            <slider id="squelchSlider" ng-disabled="!settings.power" ng-model="settings.squelch" on-stop-slide="squelchChange()" min="0" step="1" max="100" value="50"></slider>
          </td>
        </tr>

        <tr>
          <th>
            <label for="toneSqOpt">Tone Squelch</label>
          </th>
          <td>
              <select class="form-control" ng-disabled="!settings.power" ng-model="settings.toneSquelch" ng-options="opt for opt in toneSquelchOptions" ng-change="toneSquelchChange()" id="toneSqOpt"/>
          </td>

          <th>
            <label style="display:inline-block;vertical-align:middle;float:none" for="nbToggle">Noise Blank</label>
          </th>
          <td>
            <toggle id="nbToggle" ng-disabled="!settings.power" ng-model="settings.noiseBlank" ng-change="noiseBlankChange()" on="Enabled" off="Disabled" onstyle="btn-primary"></toggle>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row" style="text-align:center">
      <div class="col-md-9" style="float:none;display:inline-block">
          <div class="row">
              <div class="col-xs-4">
                <div justgage
                     title="Signal (%)" title-font-color="dimgray" title-position="below"
                     title-min-font-size="8px" value="{{signalStrength}}" value-font-color="black"
                     value-min-font-size="15px" human-friendly="true"
                     human-friendly-decimal="true" decimals="1" style="width:400px; display: inline-block"></div>
              </div>

              <div class="col-xs-8">
                  <span style="font-family:sans-serif;font-size:15px;font-weight:bold;color:#696969;line-height:11.4px;font-weight:700">Pass List</span>
                  <br />
                  <div style="overflow-y:scroll;height:280px">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th style="text-align: center">Satellite</th>
                                  <th style="text-align: center">Start</th>
                                  <th style="text-align: center">Duration</th>
                                  <th style="text-align: center">Elevation</th>
                                  <th style="text-align: center">Peek Azimuth</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr data-ng-repeat="pass in passList">
                                  <td><b>{{pass.name}}</b></td>
                                  <td>{{convertDate(pass.start)}}</td>
                                  <td>{{toHumanReadableTime(pass.duration)}}</td>
                                  <td>{{pass.maxElevation.toFixed(2)}}</td>
                                  <td>{{pass.apexAzimuth.toFixed(2)}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

<div style="display:none">
    <audio id="radioAudio" audios code="settings.audioUrl" autoplay="autoplay"/>
</div>
