<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header hidden-lg hidden-md">Current List</h1>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-ng-click="resetContext()">&times;</button>
                <h4 class="modal-title">{{contextItem.insert?'Add':'Edit'}} Item</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="inputName" placeholder="e.g. Sweet Chilli Sauce" type="text" data-ng-model="contextItem.name"
                                                data-uib-typeahead="suggestion for suggestion in getSuggestions($viewValue)" data-typeahead-loading="loadingLocations"
                                                data-typeahead-no-results="noResults" data-ng-keydown="$event.which === 13 && saveItem()">
                                        <i data-ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div data-ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Suggestions Found
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputQuantity" class="col-lg-2 control-label">Quantity</label>
                                    <div class="col-lg-10">
                                        <table style="width:100%">
                                        <tr>
                                            <td>
                                            <input class="form-control" id="inputQuantity" placeholder="e.g. 1" type="number" min="1" step="1" data-ng-model="contextItem.quantity">
                                            </td>
                                            <td>
                                            <select class="form-control" data-ng-model="contextItem.unit">
                                                <option selected="">#</option>
                                                <option>g</option>
                                                <option>kg</option>
                                                <option>mL</option>
                                                <option>L</option>
                                                <option>Cup</option>
                                                <option>Can</option>
                                                <option>Bag</option>
                                                <option>Loaf</option>
                                            </select>
                                            </td>
                                        </tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="saveItem()">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" data-ng-click="resetContext()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-ng-click="resetContext()">&times;</button>
                <h4 class="modal-title">Delete Item</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to delete this item? This action is irreversable.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteItem()">Delete</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="resetContext()">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div id="newModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Start New List</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to start a new list? This action is irreversable.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="newList()">New List</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading" style="min-height: 40px">
                <i class="fa fa-bar-chart-o fa-fw"></i><span class="hidden-sm hidden-xs h4" style="margin-top: 0; margin-bottom: 0"> Current List</span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs visible-lg" style="margin-right: 10px" data-ng-click="print()">
                            <i class="glyphicon glyphicon-print"></i>
                            Print List
                        </button>
                        <button type="button" class="btn btn-success btn-xs" style="margin-right: 10px" data-toggle="modal" data-target="#editModal" data-ng-click="$('#inputName').focus()">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add An Item
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#newModal">
                            <i class="glyphicon glyphicon-asterisk"></i>
                            Start New List
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped table-nonfluid" id="itemsTable">
                                <thead>
                                <tr>
                                    <th class="visible-lg">#</th>
                                    <th>Item</th>
                                    <th class="visible-lg">Added</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
								<tr>
								<td>
								
								<touch-spin ng-model="numberVariable"></touch-spin>
								
								</td>
								</tr>
                                <tr data-ng-repeat="item in items" data-ng-swipe-left="swipeLeft($index)" data-ng-swipe-right="swipeRight($index)" data-ng-class="{success:item.purchased}">
                                    <td class="visible-lg">{{$index+1}}</td>
                                    <td style="white-space: normal">{{item.name}}</td>
                                    <td class="visible-lg">{{dtToString(item.added)}}</td>
                                    <td style="white-space: normal">
                                        {{item.quantity}} {{getUnit(item)}}
                                        <span class="pull-right">
                                            <button class="btn btn-warning btn-xs print-remove" data-toggle="modal" data-target="#editModal" data-ng-click="setContext($index)">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                <span class="hidden-sm hidden-xs">Edit Item</span>
                                            </button>
                                            <button class="btn btn-danger btn-xs print-remove" data-toggle="modal" data-target="#deleteModal" data-ng-click="setContext($index)">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="hidden-sm hidden-xs">Delete Item</span>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{items.length}}</div>
                        <div>Items To Buy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{countItems()}}</div>
                        <div>Total Quantity</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{approximateBags()}}</div>
                        <div>Approximate Bags</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{numDays}}</div>
                        <div>Day{{numDays!==1?'s':''}} Since Started</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>