.lcd {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	background-color: #ECEAEA;/*rgb(196, 226, 196);*/
	color: rgb(9, 9, 9);
	border: 2px solid #DFDEDE;
	margin: 20px;
}

.lcdOn {
	color: rgb(9, 9, 9);
}

.lcdOff {
	color: lightgray; /*rgb(180, 210, 180);*/
}

#tunerlcd {
	width: 75%;
	height: 110px;
	position: relative;
}

.display {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.buttonCursor, .lcdButtonLeft {
	cursor: pointer;
}

.lcdButtonLeft {
	position:absolute;
	left: 35px;
	bottom: 15px;
}

.powerOn {
	color: green
}

.powerOff {
	color: red
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
